* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: url("https://e3.365dm.com/22/11/2048x1152/skynews-cristiano-ronaldo-portugal_5977451.jpg?20221124220943");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

.headd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 200px;
    color: white;
    position: relative;
  
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 90px;
}

li, a {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

.button {
    margin-bottom: 15px;
    background-color: transparent;
    color: white;
    padding: 5px;
}

.big {
    font-size: x-large;
}

.button:hover {
    font-size: large;
}


.flexcontainer {
    display: flex;
    justify-items:center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    padding-bottom: 500px;
    gap: 20;
    flex-basis: 200px;
}

.img {
    display: flex;
    width: auto;
    height: 300px;
    border-radius: 8px;
    padding-left: 20px;
    
}

.text {
    padding: 20px;
    color: white;
    border-radius: 8px;
    padding-left: 80px;
    text-align: left;
    max-width: 550px;
}

