*{
    
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: arial,sans-serif;

}
body{

    height: 100vh;
    background-image: url("https://e3.365dm.com/22/11/2048x1152/skynews-cristiano-ronaldo-portugal_5977451.jpg?20221124220943");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.headd {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 200px;
    color: white;

}

li , a {
    
   color: white;
    text-decoration: none;
    padding-bottom: 10px; 
    
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 90px;
    
}

.button {
    margin-bottom: 15px;
    background-color: transparent;
    color: white;
    padding: 5px;
}
.main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
       
      
}